*{
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.app,
ul {
  margin: 0;
  padding: 0;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  display: flex;
  border-radius: 10px;
  background: blanchedalmond;
}

.logo {
  width: 50px;
  height: auto;
}

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav-items ul li {
  cursor: pointer;
}

.res-card{
  width: 200px;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 6px grey);
  cursor: pointer;
}

.res-card:hover{
  filter: drop-shadow(2px 4px 6px lightBlue);
}

.res-card img{
  width: 100%;
  height: auto;
  aspect-ratio: 14 / 9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.res-container{
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  gap: 16px;
}